.logo{
    width: 200px;
    height: 300px;
    margin-top: -7%;
    display: flex;
    
  
}
.container_header{
    padding-top: 10px;
    height: 100px;
    background-color: blue;
}
#nome_organização{
    margin-left: 15%;
    
  
}